<body>
    <div class="product-page">
        <button class="btn btn-primary" routerLink="/products" style="float: left;">Back</button>
        <h2>Mobile</h2>
        <img src="https://imgs.search.brave.com/ednBBarGQqoQ-8dzRKYgVCR21kplEvVhre3J-8iicH8/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS1wc2Qv/bW9kZXJuLW1vYmls/ZS1hcHAtbG9naW4t/c2NyZWVuLW1vY2t1/cC1wc2RfNTM4NzYt/Njc2ODU3LmpwZz9z/ZW10PWFpc19oeWJy/aWQ" alt="Mobile" style="width: 100%; height: auto;">
        <div class="product-details">
            <h3>Latest Smartphones</h3>
            <p>Our range of smartphones offers powerful features, advanced cameras, and excellent performance. From top-tier flagship models to affordable options, there's a phone for every need.</p>
            <ul>
                <li>Ultra High-Resolution Camera</li>
                <li>Fast Charging Capabilities</li>
                <li>5G Ready</li>
                <li>Edge-to-Edge Display</li>
            </ul>
            <a routerLink="/products" class="btn" (click)="onClick()">Contact Us for More Info</a>
        </div>
    </div>
</body>