<!-- <div class="checkout-box">
  <div class="line-container">
    <span class="line-text">Product Selected</span>
  </div>
  <button class="checkout-btn">Checkout</button>
</div>
<app-parent></app-parent>
<app-child></app-child> -->

<body>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-items"><a class="nav-link" routerLinkActive="active" routerLink="home">Home</a></li>
      <li class="nav-items"><a class="nav-link" routerLinkActive="active" routerLink="about">About Us</a></li>
      <li class="nav-items"><a class="nav-link" routerLinkActive="active" routerLink="products">Products</a></li>
      <li class="nav-items"><a class="nav-link" routerLinkActive="active" routerLink="login">Template Driven Form</a></li>
      <li class="nav-items"><a class="nav-link" routerLinkActive="active" routerLink="details">UserList</a></li>
      <li class="nav-items"><a class="nav-link" routerLinkActive="active" routerLink="welcome">Reactive Form</a></li>
      <li class="nav-items"><a class="nav-link" routerLinkActive="active" routerLink="table">Table</a></li>
    </ul>
  </nav>
</body>
<router-outlet></router-outlet>
